{% extends "forum/base.html" %}

{% block describe %}
<!-- 主页描述 -->
<div class="content">

  <!-- Page header -->
  <div class="page-header">
              
    <h2>删除文章</h2>

  </div>
  <!-- /Page header -->

  <!-- Page container -->
  <div class="page-container">

    <h2>
      {{info}}
    </h2>
    <p><a href="{% url 'forum:topic' plate.id %}" class="btn btn-success" role="button">回到板块</a></p>
              
  </div>
  <!-- /Page container -->
</div>
<!-- /主页描述 -->
{% endblock describe %}

