<!DOCTYPE html>
<html>
	<!-- 页面继承的话用Django的样式改就行 -->
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2>股票查询</h2>
		<div>
			
			<form action="" method="post">
				<span>请输入股票名称：</span>
				<br>
				<!-- 搜索框，Django的代码不一样好像 -->
				<input type="text" name="" placeholder="请输入股票名称" />
				<button type="submit">查询相关股票</button>
			</form>
		</div>
		<div>
			<!-- 展示查询结果，做成a链接形式 -->
			<ul>
				<li><a href="stock_information.html">相关股票1</a></li>
				<li><a href="stock_information.html">相关股票2</a></li>
				<li><a href="stock_information.html">相关股票3</a></li>
			</ul>
		</div>
	</body>
</html>
