{% extends "forum/base.html" %}


{% block describe %}
<!-- 主页描述 -->
<div class="content">

  <!-- Page header -->
  <div class="page-header">
              
    <h2>添加文章</h2>

  </div>
  <!-- /Page header -->

  <!-- Page container -->
  <div class="page-container">

    {% if plate.text == "__private__" %}
    <h4>
      <p>回到-<a href="{% url 'users:user_space' user.id %}">个人空间</a></p>
    </h4>
    {% else %}
    <h4>
      <p>回到板块-<a href="{% url 'forum:plate' plate.id %}">{{ plate }}</a></p>
    </h4>
    {% endif %}

    <form action="{% url 'forum:new_post' plate.id %}" method="POST">
      {% csrf_token %}
      <h3>文章标题：</h3>
      {{ form.title }}
      <h3>文章内容：</h3>
      {{ form.text }}
      <button class="btn btn-primary" name="submit">添加</button>
    </form>
              
  </div>
  <!-- /Page container -->
</div>
<!-- /主页描述 -->
{% endblock describe %}
