{% extends "forum/base.html" %}

{% block describe %}
<!-- 主页描述 -->
<div class="content">

  <!-- Page header -->
  <div class="page-header">
              
    <h2>回复评论：{{comment.text}}</h2>

  </div>
  <!-- /Page header -->

  <!-- Page container -->
  <div class="page-container">

    <p>回到评论区-<a href="{% url 'forum:show_post' post.id %}">{{ post }}</a></p>

    <p>回复评论：</p>

    <form action="{% url 'forum:response_comment' comment.id %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">添加回复</button>
    </form>
              
  </div>
  <!-- /Page container -->
</div>
<!-- /主页描述 -->
{% endblock describe %}

