<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2>股票名称（如：南京银行）</h2>
		<!-- 之后可以考虑展示股票代码 -->
		<div>
			<h3>实时价格：</h3>
			<span>666</span>
		</div>
		<div>
			<!-- 默认内容：今日行情 -->
			<h3>今日行情</h3>
			<!-- 默认自动加载展示的内容 样式最后统一改 -->
			<iframe src="nj_bank_test.html" name="" width="900" height="450" id=""></iframe>
		</div>
		<div>
			<h3>自定义日期股票价格查询</h3>
			<form action="" method="post">
				<span>开始日期：</span><input type="date" />
				<span>终止日期：</span><input type="date" />
				<button type="submit">查询</button>
			</form>
			<div>
			<!-- 查询结果 -->
			</div>
		</div>
	</body>
</html>
