<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			ul li {
				height: 30px;
			}

			.divButton {
				float: right;

				padding-right: 5%;
			}
		</style>
	</head>
	<body>

		{% if messages %}
        {% for msg in messages %}
        <script>
                alert('{{ msg.message }}');
        </script>
        {% endfor %}
    	{% endif %}

		<div class="div1">
			<h2>我的板块</h2>
			<br />
			<ul>
				{% for plate in plates %}
				<li>
					<a href="{% url 'forum:plate' plate.id %}" target="_top">{{ plate }}</a>
					{% if selecteduser == user %}
					<div class="divButton"><a href="{% url 'forum:del_plate' plate.id %}"><button type="submit">删除板块</button></a></div>
					{% else %}
					{% endif %}
				</li>
				{% empty %}
				<li>你还没有创建任何板块</li>
				{% endfor %}
			</ul>

		</div>
	</body>
</html>
